name: publish-docs
on:
  push:
    branches:
      - main
jobs:
  deploy-on-macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v4
        with:
          python-version: '3.8'
      - name: Install Flit
        run: pip install flit
      - name: Install Dependencies
        run: flit install --symlink --extras docs
      - run: mkdocs gh-deploy --force
